#hola{
    width:600px; height:600px;
}

#a{
    width:70%; height:100px; background-color: green; float:left
}

#b{
    width: 30%; height: 100px; background-color: greenyellow; float:left;
}

#c{
    width:35%; height:200px; background-color: black;float:left;
}

#d{
    width:35%; height: 200px; background-color: greenyellow;float:left;
}

#e{
    width:30%; height: 100px;; background-color: green;float:left;
}

#f{
    width:30%; height: 100px; background-color: greenyellow;float:right;
}

#g{
    width:30%; height: 200px; background-color: black;float:right;
}

#h{
    width:70%; height:100px; background-color: green; float:left;
}

#i{
    width:70%; height: 100px; background-color: greenyellow;float:left;
}

#j{
    width:33%; height: 100px; background-color: green;float:left;
}

#k{
    width:33%; height: 100px; background-color: greenyellow;float:left;
}

#l{
    width:34%; height: 100px; background-color: green;float:left;
}
